body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
}

h1 {
    letter-spacing: 5px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 3px;
    padding: 10px 25px;
}
button:hover {
    cursor: pointer;
}


img {
    max-width: 540px;
    max-height: 540px;
}

#lion, #tiger, #lynx {
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.puzzle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer, .puzzleContainer {
    width: 546px;
    height: 546px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.puzzleContainer {
    position: relative;
}

.piece {
    width: 180px;
    height: 180px ;
    border: 1px solid black;
}

#lion .piece {
    background-image: url(imgs/lion.jpeg);
    background-repeat: no-repeat;
}

#tiger .piece {
    background-image: url(imgs/tiger.jpeg);
    background-repeat: no-repeat;
}

#lynx .piece {
    background-image: url(imgs/lynx.jpeg);
    background-repeat: no-repeat;
}

.draggable:active {
    border: 3px solid red;
}


button {
    margin-top: 10px;
    text-transform: uppercase;
}

